*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
	min-width: 1250px;
}
.wrap{
    width: 1300px;
    height: 800px;
    position: relative;
    margin: 0 auto;
}

.content1{
    display: inline-block;
    
    position: absolute;
    left: 85px;
}
.content1 i{
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    right: -91px;
    top: 228px;
    animation: xue 10s linear 0s infinite ;
}
.content2 i{
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    left: -91px;
    top: 228px;
    animation: xue 10s linear 0s infinite ;
}
@keyframes xue {
    from{
        top: 228px;
        opacity: 1;
    }
    to{
        top: 500px;
        opacity: 0;
    }
}

.content2{
    display: inline-block;
   
    position: absolute;
    right: 85px;
}
.div1{
    width:400px;
    height:400px;
    border: 3px solid white;
    border-top-right-radius: 428px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 435px;
    overflow: hidden;
    display: inline-block;
    transform: rotateZ(-40deg);
    box-shadow: 0 0 60px black;
}
.div2{
    width:400px;
    height:400px;
    border: 3px solid white;
    border-top-right-radius: 428px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 435px;
    overflow: hidden;
    transform: rotateZ(130deg);
    display: inline-block;
    box-shadow: 0 0 60px black;
}
.ul1{
    width: 400px;
    height: 400px;
    list-style: none;
    position: absolute;
    top: 0px;
    left: 0px;
    animation:rotate 5s linear 0s infinite ;
}
.ul2{
    width: 400px;
    height: 400px;
    list-style: none;
    position: relative;
    animation:rotate2 5s linear 0s infinite ;
}
ul li:nth-child(1){
    width: 200px;
    height: 200px;
    border-top-left-radius:200px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:200px;
    border: 1px solid #000;
    transform: rotateZ(135deg);
    margin-left: -100px;
    position: absolute;
    left: 50%;
    top: 100px;
    background-color: rgba(255, 0, 0, 0.9);
}
ul li:nth-child(2){
    width: 200px;
    height: 200px;
    border-top-left-radius:200px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:200px;
    border: 1px solid #000;
    transform: rotateZ(195deg);
    margin-left: -100px;
    position: absolute;
    left: 50%;
    top: 100px;
    background-color: rgba(255, 0, 0, 0.9);
}
ul li:nth-child(3){
    width: 200px;
    height: 200px;
    border-top-left-radius:200px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:200px;
    border: 1px solid #000;
    transform: rotateZ(255deg);
    margin-left: -100px;
    position: absolute;
    left: 50%;
    top: 100px;
    background-color: rgba(255, 0, 0, 0.9);
}
ul li:nth-child(4){
    width: 0px;
    height: 0px;
    border-left: 12.5px solid  transparent;
    border-right:12.5px solid  transparent;
    border-bottom: 110px solid  black;
    position: absolute;
    margin-left: -12.5px;
    left: 50%;
    top: 86px;
}
ul li:nth-child(5){
    width: 0px;
    height: 0px;
    border-left: 12.5px solid  transparent;
    border-right:12.5px solid  transparent;
    border-bottom: 110px solid  black;
    position: absolute;
    margin-left: -12.5px;
    left: 201px;
    top: 91px;
    transform: rotateZ(121deg);
    transform-origin: center bottom;
}
ul li:nth-child(6){
    width: 0px;
    height: 0px;
    border-left: 12.5px solid  transparent;
    border-right:12.5px solid  transparent;
    border-bottom: 110px solid  black;
    position: absolute;
    margin-left: -12.5px;
    left: 50%;
    top: 89px;
    transform: rotateZ(238deg);
    transform-origin: center bottom;
}
ul li:nth-child(7){
    width: 25px;
    height: 25px;
    background-color: red;
    position: absolute;
    margin-left: -12.5px;
    left: 50%;
    top: 187.5px;
    border-radius: 50%;
}
ul li:nth-child(8){
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -150px;
}
ul li:nth-child(9){
    width: 500px;
    height: 500px;
    border: 1px solid white;
    position: absolute;
    left: -50px;
    top: -50px;
    border-radius: 50%;
}
@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
@keyframes rotate2{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(-360deg);
    }
}
